a img{
    width:  50px;
    height:  50px;
    object-fit: cover;
}

.card-diri {
    display: flex;
    align-items: center;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 20px;
}

.card-prestasi {
    overflow: hidden;
    width: 95%;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 20px;
}


.card-pasfoto {
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.card-pasfoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}


.card-content h1 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.desc-diri {
    margin: 0;
    font-size: 16px;
    color: #555;
}


.prestasi {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

.prestasi-container{
    width: 95%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.prestasi::-webkit-scrollbar{
    display: none;
}


.scroll-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
  }
  
  .scroll-btn.left {
    left: 10px;
  }

  .scroll-btn.right {
    right: 10px;
  }

  .scroll-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }